@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family:"tuffy";
	src: url(Tuffy.ttf) format("truetype");
}

body
{
	background-color:#99ddff;
	min-width:320px;
}

h1{
	font-family:"Tuffy", Verdana, Tahoma;
	font-size:26pt;
	text-align:center;
	
	color:black;
}

h2
{
	font-size: 17px;
}

h3{
	font-family:"Tuffy", Verdana, Tahoma;
	font-size:16pt;
	
	color:black;
}

h4{
	font-family:"Tuffy", Verdana, Tahoma;
	font-size:14pt;
	
	color:black;
}

p
{
	font-family:"Tuffy", Verdana, Tahoma;
	font-size:13pt;
	
	color:black;
}

#welcome 
{
	  display: inline-block;
  	  width: 100%;
  	  padding: 0 10%;
  	  fill: white;
}

#header
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	width:100%;
	height:105px;
	border-bottom:medium inset black;
}

#banner 
{
	display: inline-block;
	margin: 0 auto;
	width: 70vw;
}

#name
{
	position:absolute;
	margin-left:20%;
	bottom:-13px;
	color: white;
}

#PortfolioTitle
{
	position:absolute;
	right:20%;
	bottom:-13px;
	color:#99ddff;
}

#ContactTitle
{
	position:absolute;
	left: 20%;
	 margin-top: -39px;
	color:#3399ee;
}

#title
{
	position:absolute;
	top:5px;
	left:20px;
	width:300px;
	height:105px;
	background-image:url(title3.png);
	background-repeat:no-repeat;
}

#navi
{
	position:absolute;
	left:0px;
	top:113px;
	right:0px;
	width:100%;
	height:30px;
	border-top: solid 3px white;
	padding-top:5px;
	text-align:center;
	border-bottom:solid 3px #000;
}

#body
{
	position:absolute;
	right:0px;
	left:0px;
	top:158px;
	border-top: medium solid #FFF;
	width:100%;
	min-height:800px;
	padding-top:10px;
	padding-bottom:20px;
	height:auto;
}

#inner
{
	min-width:280px;
	width:80%;	
	margin:0 auto;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	padding:10px 5px 15px 5px;
}

/* Home Page */
.resume
{ 	
	width:50%;
	margin-bottom: 30px;
	color: white;
}
#values 
{
	text-align: center;
}

.galPic
{
	min-width:240px;
	width:70%;	
	max-width:500px;
}

#viewer
{
	min-width:240px;
	width:70%;	
}

.content
{
	width:100%;
}

.profile
{
	padding: 50px 0 110px;
}

#linksContainer 
{
	margin: 0px auto;
    position: relative;
    width: 716px;
    height: 100%;
    text-align: center;
}

#linksContainer a 
{
  	color: transparent;
}

#selfy
{
	border-radius: 135px;
	width: 230px;
	height: 230px;
	display:block;
	margin: 0px auto;
}

* 
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.menu
{
	position: fixed;
    width: 100%;
    height: 40px;
    top: 0px;

}

.container 
{
	background: transparent;
	width: 100%;
	margin: 0 5% 5vw;
	height: auto;
}

.item 
{
	width: 45%;
	height: auto;
	float: left;
	margin-bottom: 5px;
	text-decoration: none;
}

.item.w2 
{ 
	width: 45%; 
}

.mason-media
{
	height: 100%;
    width: 100%;
    position: relative;
}

.mason-play-button
{
	margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
	background-image: url(../img/play.png);
    height: 50px;
}

.mason-pic 
{
	width: 100%;
	height:auto;
}

.mason-description {
    background-color: white;
    padding: 5px;
  	border-top: solid #CCC 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mason-description p {
    font-size: 15px;
}

.mason-shadow
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mason-shadow:hover 
{
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    -webkit-box-shadow: inset 0px 0px 163px 20px rgba(0,0,0,0.57);
	-moz-box-shadow: inset 0px 0px 163px 20px rgba(0,0,0,0.57);
	box-shadow: inset 0px 0px 163px 20px rgba(0,0,0,0.57);
}

.stamp 
{
	background: red;
	opacity: 0.75;
	position: absolute;
	border: 1px solid;
}

.linkTile
{
	width: 141px;
    height: 170px;
    float: left;
    margin: 0 19px;
}

.linkTile p
{
	color: white;
}

/*SPECIAL FOR GALLERIA*/

#galleria
{
	width:80vw;
	margin:0 auto;
	margin-top: 50px;

}

.beginWithFade {
	animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 501) and (max-width:857px){
	#galleria
	{
		width:90vw;
		margin:0 auto;
		margin-top: 50px;
	}
}

@media (max-width:742px) and (min-width:532px){
	#linksContainer {
		width: 537px;
	}
}

@media (max-width:532px){
	#linksContainer {
		width: 358px;
	}
}

@media (min-width:858px){
	.resume
	{
		position:relative;
	}
	
	#welcome-text
	{
   	 	width: 100%;
    	text-align: center;
	}

	#values 
	{
		width: 100%;
	}

	#Educ
	{
		position: absolute;
	    width: 200px;
	    margin-top: 0px;
	}

	#TechSkl
	{
		width: 250px;
		margin: 0px auto;
		margin-top: 0px;
	}

	#AdSkl
	{
		width: 200px;
		float: right;
		margin-top: -156px;
	}

	.item 
	{
		width:  17.5%;
	}

	.item.w2 
	{ 
		width: 17.5%; 
	}

	.profile
	{
		margin: auto;
        width: 730px;
	}
}

@media (max-width:500px){
	.cont1
	{
		width:auto;
		height:auto;
		max-width:700px;
	}
	
	#galleria
	{
		width:95vw;
		margin:0 auto;
		margin-top: 50px;
	}
}

@media (min-width: 1200px){
	#galleria
	{
		width:1000px;
		margin-top: 50px;
	}
}

@media (max-width:857px){
	.resume
	{
		margin:30px auto;	
	}
	.profile{
		padding: 50px 0 30px;
	}
}

@media (max-width: 480px) {
	#name
	{
		position:absolute;
		margin-left:20%;
		bottom:-13px;
		color: white;
	}

	#PortfolioTitle
	{
		position:absolute;
		right:20%;
		bottom:-13px;
		color:#99ddff;
	}

	#ContactTitle
	{
		position:absolute;
		left: 20%;
		color:#3399ee;
	}

	#body
	{
		position:absolute;
		right:0px;
		left:0px;
		top:158px;
		border-top: medium solid #FFF;
		width:100%;
		min-height:800px;
		padding-top:10px;
		padding-bottom:20px;
		height:auto;
	}

	#inner
	{
		min-width:280px;
		width:80%;	
		margin:0 auto;
		padding-top:10px;
		padding-left:5px;
		padding-right:5px;
		padding:10px 5px 15px 5px;
	}

	/* Home Page */
	.resume
	{ 	
		width:250px;
	}

	/* Portfolio Page */
	.galPic
	{
		min-width:240px;
		width:70%;	
		max-width:500px;
	}

	#viewer
	{
		min-width:240px;
		width:70%;	
	}
	.cont1
	{
		margin: 0px 5%;
		width:auto;
		height:auto;
		max-width:700px;
	}
	
	#galleria
	{
		width:95vw;
		margin:0 auto;
		margin-top: 50px;
	}

	.container 
	{ 
		margin-bottom: 30px;
	}
}

@media (min-width: 480px) {
	.item 
	{
		width:  30%;
	}

	.item.w2 
	{ 
		width: 30%; 
	}
}

